--- 
pageable: true
per_page: 12
---

!!!
%html
    %head
        %meta{:charset => "utf-8"}
        %title {math pun} - Desmos
        =stylesheet_link_tag "all"
        =partial "partials/tracking"
    %body
        =partial "partials/nav"

        .blog-banner
            %img{ :src => "/images/abacus.svg" }
            %h1.blog-title Desmos API Tutorials
            %p.byline 
                %em Desmosify your blog, site, or classroom
            %hr

            .article-list
            - page_articles.each_with_index do |article, i|
                - if article.data.category == 'desmos'
                    %h4= link_to article.title, article
                    %p.article-summary= article.data.summary
                    / %p.article-date= article.date.strftime('%B %e, %Y');
                    %hr

            - if paginate && num_pages > 1
                .pagination
                    %ul
                        %li.page-prev
                            = link_to 'Prev', prev_page || '/'
                        %li
                            %ul
                                -(1..num_pages).each do |num|
                                    %li= link_to num, num == 1 ? "/" : "/page/#{num}"
                        %li.page-next
                            = link_to 'Next', next_page || "/page/#{num_pages}"