---
pageable: true
per_page: 9
---

<h1 class="page-heading">{desmos tutorials}</h1>

<!-- Display blog posts as cards -->
<div class="cards">

  <% page_articles.each_with_index do |article, i| %>
    <% if article.data.category == 'desmos' %>
    <div class="card">
      <div class="card-header">
        <%= link_to article.title, article %>
      </div>
      <div class="card-copy">
        <%= article.data.summary %>
      </div>
    </div>
    <% end %>
  <% end %>

</div>

<% if paginate && num_pages > 1 %>
<div class="pagination">
  <ul>
    <li class="page-prev"><%= link_to 'Prev', prev_page || "/" %></li>
    <li>
      <ul>
        <% (1..num_pages).each do |num| %>
        <li><%= link_to num, num == 1 ? "/" : "/page/#{num}" %></li>
        <% end %>
      </ul>
    </li>
    <li class="page-next"><%= link_to 'Next', next_page || "/page/#{num_pages}" %></li>
  </ul>
</div>
<% end %>