---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<!-- Display blog posts as cards -->
<div class="cards">

  <% page_articles.each_with_index do |article, i| %>
  <div class="card">
    <div class="card-header">
      <%= link_to article.title, article %>
    </div>
    <div class="card-copy">
      <%= article.summary %>
    </div>
    <div class="card-stats">
      <%= link_to "Continue reading", article %>
    </div>
  </div>
  <% end %>

</div>


<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
